/* 
  #dark-grey: #333333;
  #medium-grey: #999999;
  #orange-highlight: #DFBD85;
  #medium-light-grey: #c4c4c4;
  #light-grey: #e0e0e0;
  #sandy-grey: #f2f1e8;
*/

a {
  color: #DFBD85;
}

.content {
  min-height: calc(100vh - 150px);
  max-width: 500px;
  margin: 5rem auto 0 auto;
  padding: 0 1rem;
}

.app-description {
  text-align: center;
}

h3 {
  font-size: 1.75rem;
  margin: 0;
}

p { 
  line-height: 1.75rem;
}

button {
  display: flex;
  align-items: center;
  background: #c4c4c4;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  color: #ffffff;
  font-weight: bold;
  margin-top: 0.5rem;
  padding: 1rem;
}

button.active {
  background-color: #dfbd85;
  color: #ffffff;
  border: #dfbd85 solid 1px;
}

button:hover {
    background-color: #dfbd85;
}

.title-wrapper {
  display: block;
  position: relative;
  width: 100%;
}

.minus {
  content: url('../src/assets/line.svg');
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
}

.plus {
  content: url('../src/assets/plus.svg');
  width: 24px;
  height: 24px;
  transform: rotate(90deg);
  transition-timing-function: ease-in;
  transition: all 1s;
  position: absolute;
  right: 0;
}

.panel-close { 
  background: #e0e0e0;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0 1rem;
  opacity:0;
  width:100%;
  height:0;
  overflow: hidden;
  transition-timing-function: ease-out;
  transition: all 1s;
}

.panel-open {
  overflow: hidden;
  background: #e0e0e0;
  padding: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border-radius: 1rem;
  opacity:1;
  width:100%;
  height: auto;
  transition-timing-function: ease-in;
  transition: all 1s;
}

.panel p {
  margin: 0;
}

.footer {
  text-align: center;
  height: 50px;
}
